*.pdf
*.eps
*.csv
*.ps
*.txt
*.nc
New_message
./backup
./plots
*/*.pdf
*/*.eps
*/*.csv
*/*.ps
*/*.txt
*/*.nc
*/*sh.o*
*/*.out
*/nc_file
*/binary_file
*/plots
*/refuse
*/txt
*/*/*.1gd4r
*/*/*.pdf
*/*/*.eps
*/*/*.csv
*/*/*.ps
*/*/*.txt
*/*/*.nc
*/*/nc_file
*/*/binary_file
*/*/plots
*/*/refuse
*/*/txt
*/*/regrid_DLCD_run
