*.pdf
*.eps
*.csv
*.ps
*.txt
*.nc
New_message
*/*.pdf
*/*.eps
*/*.csv
*/*.ps
*/*.txt
*/*.nc
*/nc_file
*/binary_file
*/*sh.o*
*/plots
*/refuse
*/txt
*/*/*.1gd4r
*/*/*.pdf
*/*/*.eps
*/*/*.csv
*/*/*.ps
*/*/*.txt
*/*/*.nc
./backup
./plots
replace_LIS_landinfo/Dynamic_land_cover_dataset_CABLE
